body {
	margin: 0;
	padding: 0;
	min-width: 960px;

	font-family: "Cuprum", Arial, sans-serif;
	font-size: 16px;
	line-height: 23px;
	font-weight: 400;
	color: #000000;
}

a {
	text-decoration: none;
}

.top-header-wrapper {
	background-color: #293449;
	min-height: 42px;
	width: 100%;	
}

.container {
	margin:0 auto;
	padding: 0 10px;
	width: 940px;
}

.top-header {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	justify-content: space-between;

	background-color: #293449;
}

.main-header-logo {
	margin: 0;
	display: inline-block;
	width: 220px;
	position: relative;

	box-sizing: border-box;
	padding-top: 12px;
	padding-left: 55px;
	/*box-shadow: inset 0 1px 0 0 #ea515c,
				inset 0 -5px 0 0 #9f0617;
	*/
	vertical-align: middle;
	font-size: 24px;
	line-height: 24px;
	text-transform: uppercase;
	color: #fff;
	background-color: #ee3643;
}

.main-header-logo::after {
	content: "";
	
	position: absolute;
	top: 42px;
	left: 0;

	width: 220px;
	height: 5px;

	background-color: #9f0617;
}

.main-header-logo:hover {
	background-color: #ca2c37;
}

.main-header-logo:focus {
	background-color: #ba2732;
}

.buy,
.site-navigation,
.user-navigation {
	list-style: none;
}

.buy {
	margin:0;
	padding: 0;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	width:720px;
}

.buy a {	
	display: block;
	width: 150px;
	min-height: 42px;
	box-sizing: border-box;
	padding-top: 12px;
	padding-left: 44px;


	vertical-align: bottom;
	font-size: 17px;
	line-height: 18px;
	color: #fff;

	position: relative;
}

.buy .checkout-corf {
	padding-left: 48px;
}

.checkout a {
	padding-left: 20px;
	background-color: #63a63e;
}

.search {
	padding: 0;
	margin: 0;
	width: 270px;
	min-height: 42px;
	box-sizing: border-box;
	padding-left: 48px;

	font-family: "Cuprum", Arial, sans-serif;
	font-size: 17px;
	line-height: 18px;
	background-color: #293449;
	border: none;
}

.search::-webkit-input-placeholder {
	color: #fff;
}

.search::-moz-placeholder {
	color: #fff;
	opacity: 1;
}

.search:-ms-input-placeholder {
	color: #fff;
	opacity: 1;
}

.buy .marker::before {
	content: "";
	
	position: absolute;
	top:12px;
	left: 16px;

	width: 17px;
	height: 18px;

	background-image: url("../img/svg/icon-bookmark.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
	
	opacity: 0.3;
}

.buy .checkout-corf::before {
	content: "";
	
	position: absolute;
	top:12px;
	left: 16px;

	width: 18px;
	height: 18px;

	background-image: url("../img/svg/icon-cart.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
	
	opacity: 0.3;
}

form {
	position: relative;
}

.buy form::before {
	content: "";
	
	position: absolute;
	top:12px;
	left: 16px;

	width: 20px;
	height: 20px;

	background-image: url("../img/svg/icon-search.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
	
	opacity: 0.3;
}

.marker:hover::before,
.checkout-corf:hover::before,
.buy form:hover::before {
	opacity: 1;
}

.marker:focus::before,
.checkout-corf:focus::before {
	opacity: 0.5;
}

.search:focus {
	background: #ffffff  url("../img/svg/icon-search-red.svg") no-repeat 16px 12px;
}

.buy .search:hover {
	background-color:#212a3a;
}

.buy .search:focus {
	background-color: #fff;
	color: #000;
	border: none;
	position: relative;
}

.buy a:hover {
	background-color:#212a3a;
}

.buy a:focus {
	background-color: #161d29;
}

.buy a:focus {
	color: rgba(255, 255, 255, 0.6);
}

.checkout a:hover {
	background-color: #5fbb2d;
}
.checkout a:focus {
	color: rgba(255, 255, 255, 0.5);
	background-color: #518534;
}

.bottom-header-wrapper {
	background-color: #f3f7f9;
	width: 100%;
}

.bottom-header {
	display: flex;
	justify-content: space-between;
	padding-top: 46px;
	padding-bottom: 22px;
	
	font-size: 16px;
	line-height: 23px;
	
	background-color: #f3f7f9;
	color: #ee3643;
}

.bottom-header .promo {
	margin:0;
	padding: 0;
	padding-top: 2px;
	padding-left: 52px;

	
	width: 200px;
	font-style: italic;
	text-align: left;
}

.inner-page .promo {
	padding-right: 15px;
}

.bottom-header .phone {
	display: block;
	margin: 0;
	padding: 0;
	
	margin-bottom: 4px;
	padding: 10px 49px 8px 71px;

	position: relative;

	border:3px solid #fff;
	color: #ee3643;
	font-size: 21px;
	line-height: 21px;
	text-decoration: none;
}

.inner-page .phone {
	margin-bottom: 5px;
}

.bottom-header .phone::before {
	content: "";
	
	position: absolute;
	top:10px;
	left: 12px;

	width: 20px;
	height: 20px;

	background-image: url("../img/svg/icon-phone.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
	
	opacity: 1;
}

.bottom-header .adress {
	margin:0;
	margin-left: 10px;
	
	font-size: 14px;
	line-height: 24px;
	color: #32425c;
}

.user-navigation {
	margin:0;
	padding: 0;
	

	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	width: 282px;
	min-height: 47px;
}

.user-navigation a {
	display: block;

	vertical-align: middle;
	font-size: 21px;
	line-height: 21px;
	color: #000;
	background-color: #fff;
}

.user-navigation .login-link {
	width: 122px;
	min-height: 45px;
	box-sizing: border-box;

	position: relative;

	padding-left: 48px;
	padding-top: 12px;
}

.user-navigation .login-link::before {
	content: "";
	
	position: absolute;
	top:13px;
	left: 14px;

	width: 22px;
	height: 18px;

	background-image: url("../img/svg/icon-login.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
	
	opacity: 0.3;
}

.user-navigation .login-link:hover::before {
	background-image: url("../img/svg/icon-login-blue.svg");
	opacity: 1;
}

.user-navigation .check-in {
	
	width: 150px;
	min-height: 45px;
	box-sizing: border-box;

	padding-left: 25px;
	padding-top: 12px;
}

.user-navigation a:hover {
	color: #ff3333;
}

.user-navigation a:focus {
	color: rgba(0, 0, 0, .3);
}

.main-navigation {
	width: 100%;
	background-color: #f3f7f9;
	padding-bottom: 42px;	
}

.main-navigation .site-navigation {
	padding: 0;
	margin: 0;
	margin-top: 16px;
	margin-bottom: 16px;
	height: 61px;
	

	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	   -ms-flex-align: center;
		  align-items: center;
	-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	
	background-color: #32425c;
	box-shadow: inset 0 -5px 0 0 #293449;
}

.site-navigation a {
	padding: 20px 30px 20px 31px;
	font-size: 17px;
	line-height: 17px;
	color: #fff; 
}

.site-navigation .main {
	padding-left: 53px;
}

.site-navigation .last {
	padding-right: 51px;
}

.site-navigation a:hover {
	background-color: #293449;
}

.site-navigation a:focus {
	background-color: #1d2739;
	color: rgba( 255, 255, 255, .5);
}

.features-items {
	margin:0;
	padding:0;
	margin-top: 60px;
	margin-bottom: 14px; 
	list-style: none;
	
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-content: flex-start;
	align-items: flex-start;
}

.features-items-2 {
	list-style: none;
	padding: 0;
}

.features-items li {
	margin-bottom: 20px;
	width: 300px;
	min-height: 123px;
}

.features-items h3 {
	padding: 0;
	margin:0;
	padding-left: 23px;
	padding-top: 22px;

	font-size: 24px;
	line-height: 30px;
	color: #fff;
}

.features-items .features-btn {
	display: inline-block;
	vertical-align: middle;
	margin-left: 24px;
	margin-top: 12px;
	

	font-size: 14px;
	line-height: 18px;
	background-color: rgba(0, 0, 0, 0.1);
	color: #fff;
	text-transform: uppercase;
	border-radius: 5px;
}

.features-items .material {
	background-color: #ffbf47;
	position: relative;
}

.features-items .material::after {
	content: "";
	
	position: absolute;
	top: 32px;
	right: 40px;

	width: 50px;
	height: 69px;

	background-image: url("../img/svg/icon-1.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.material a {
	padding: 10px 24px;
}

.features-items .tool {
	background-color: #3bbce3;
	position: relative;
}

.features-items .tool::after {
	content: "";
	
	position: absolute;
	top: 32px;
	right: 26px;

	width: 79px;
	height: 66px;

	background-image: url("../img/svg/icon-2.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.tool a {
	padding: 10px 27px 10px 26px;
}

.features-items .technique {
	background-color: #dc91d8;
	position: relative;
}

.features-items .technique::after {
	content: "";
	
	position: absolute;
	top: 30px;
	right: 29px;

	width: 79px;
	height: 66px;

	background-image: url("../img/svg/icon-3.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.technique a {
	padding: 10px 31px 10px 30px;
}

.features-items .sale {
	background-color: #8ed78f;
	position: relative;
}

.features-items .sale::after {
	content: "";
	
	position: absolute;
	top: 26px;
	right: 36px;

	width: 68px;
	height: 74px;

	background-image: url("../img/svg/icon-4.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.sale a {
	padding: 10px 23px;
}

.features-items .delivery {
	background-color: #ffc047;
	position: relative;
	align-self: flex-end;
}

.features-items .delivery::after {
	content: "";
	
	position: absolute;
	top: 32px;
	right: 30px;

	width: 81px;
	height: 65px;

	background-image: url("../img/svg/icon-5.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.delivery a {
	padding: 10px 37px; 
}

.features-items .features-btn:hover {
	background-color: rgba(0, 0, 0, 0.2);
}

.features-items .features-btn:focus {
	background-color: rgba(0, 0, 0, 0.3);
}

.features-items .slider {
	width: 620px;
	position: relative;
}

.slider input[type=radio] {
	display: none;
}

.slider-inner {
	overflow: hidden;
	position: relative;
}

.slider-inner .left-btn {
	position: absolute;
	left: 25px;
	top: 115px;

	width: 24px;
	height: 41px;

	background-image: url("../img/svg/icon-left.svg");
	background-repeat: no-repeat;
	background-position: 0 0;

	z-index: 12;

	cursor: pointer;
}

.slider-inner .right-btn {
	position: absolute;
	right: 18px;
	top: 115px;

	width: 24px;
	height: 41px;

	background-image: url("../img/svg/icon-right.svg");
	background-repeat: no-repeat;
	background-position: 0 0;

	z-index: 12;

	cursor: pointer;
}

.slider-slides {
	width: 200%;
	transition: transform 0.8s ease;
}

.slider-slides div {
	position: relative;

	float: left;
	width: 620px;
	height: 266px;
}

.slider-controls {
	text-align: center;
}

.slider-controls label {
	width: 6px;
	height: 6px;

	position: absolute;
	top: 220px;
	left: 295px;
	z-index: 10;
	
	background-color: #fff;
	border: 2px solid white;
	border-radius: 50%;
	transition: background-color 0.2s;
	cursor: pointer;
}

.slider-controls label:last-child {
	margin: 0 20px;
}

#btn-1:checked ~ .slider-controls label[for="btn-1"],
#btn-2:checked ~ .slider-controls label[for="btn-2"] {
	background-color: #ee3643;
}

#btn-1:checked ~ .slider-inner .slider-slides {
	transform: translate(0);
}

#btn-2:checked ~ .slider-inner .slider-slides {
	transform: translate(-620px);
}

.features .slider-1 {
	background-image: url("../img/main/slider-1.jpg");
	background-repeat: no-repeat;
	background-position: 0 0;
} 

.features .slider-2 {
	background-image: url("../img/main/slider-2.jpg");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.slider-slides h3 {
	margin: 0;
	padding-top: 24px;
	padding-left: 24px;
	padding-bottom: 3px;

	font-size: 36px;
	line-height: 36px;
	text-transform: uppercase;
}

.slider-slides p {
	margin: 0;
	padding: 0;
	margin-bottom: 120px;
	padding-left: 24px;

	color: #fff;
	font-size: 18px;
	line-height: 24px;
}

.slider-slides a {
	margin-left: 25px;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	-ms-flex-pack: center;
	 justify-content: center;
	-ms-flex-align: center;
	   align-items: center;
	width: 195px;
	height: 38px;
}

.topic {
	margin: 0;
	padding: 0;
	height: 89px;

	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-ms-flex-align: center;
	   align-items: center;
	background-color: #f9f5f0;
}

.topic h2 {
	margin:0;
	padding: 0;
	padding-left: 28px;
	

	font-size: 30px;
	line-height: 30px;
	color: #333366;
	text-transform: uppercase;
	font-weight: normal;
}

.topic a {
	margin-right: 24px;
	padding-top: 10px;

	display: inline-block;
	width: 253px;
	min-height: 38px;
	
	border-radius: 3px;
	text-align: center;
	box-sizing: border-box;
}

.catalog-items {
	margin: 0;
	margin-top: 20px;
	padding:0px;
	display: flex;
	justify-content: space-between;
}

.catalog-items li {
	margin-bottom: 20px;
	width: 219px;
	min-height: 316px;

	position: relative;

	border: 1px solid #eaeaea;
	font-family: "PT Sans", Arial, sans-serif;
	font-weight: bold;
	color: #000000;
	list-style: none;
	text-align: center;
}

.catalog-items h3 {
	margin:0;
	margin-top: 35px;
	margin-bottom: 10px;
	font-size: 18px;
	line-height: 20px;
}
.catalog-items .item-name {
	display: block;
}
.catalog-items del {
	text-align: center;
	font-size: 17px;
	line-height: 18px;
	color: #a9a9a9;
}

.catalog-items .new-price {
	width: 141px;
	min-height: 38px;

	margin: 0;
	margin-top: 6px;
	margin-left: 41px;
	padding-top: 10px;
	text-align: center;

	font-size: 17px;
	line-height: 18px;
	color: #fff;
	
	background-image: url("../img/svg/red-button.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.catalog-items .no-old-price {
	margin-top: 38px;
}

.catalog-items li:hover {
	box-shadow: 0 10px 25px 0px rgba(0,0,0, 0.5);
}

.new {
	position: relative;
}

.new::before {
	content: "";
	position: absolute;
	top: 0;
	right: 0;

	width: 60px;
	height: 59px;

	background-image: url("../img/main/new-flag.png");
	background-repeat: no-repeat;
	background-position: 0 0;

	z-index: 1;
}

.user-menu {
	position: absolute;
	top: 0;
	left: 0;

	display: none;

	width: 100%;
	min-height: 137px;
	box-sizing: border-box;
	
	padding-top: 45px;
	background-color: rgba(255, 255, 255, 1);
}

.catalog-items li:hover .user-menu {
	display: block;
}

.user-menu a {
	margin-bottom: 7px;
	padding-top: 10px;

	display: inline-block;
	width: 135px;
	height: 38px;
	box-sizing: border-box;


	font-family: "Cuprum", Arial, sans-serif;
	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;
	border-radius: 3px;
}

.user-menu .wont-buy {
	position: relative;

	box-shadow: inset 0 -3px 0 0 #367315;
}

.user-menu .wont-buy::before {
	content: "";
	position: absolute;
	left: 12px;
	top: 11px;

	width: 18px;
	height: 15px;

	background-image: url("../img/svg/icon-cart.svg");
	background-repeat: no-repeat;
	background-position: 0 0;

	opacity: 0.3;
}

.wont-buy:hover::before,
.wont-buy:focus::before {
	opacity: 1;
}

.user-menu .wont-buy {
	background-color: #63a63e;
	color: #fff;
}

.user-menu .wont-buy:hover {
	background-color: #5fbb2d;
}

.user-menu .wont-buy:focus {
	background-color: #518534;
}

.user-menu .later-buy {
	background-color: #fff;
	border: 3px solid #669933;
	color: #32425c;
}

.user-menu .later-buy:hover {
	border: 3px solid #32425c;
}

.user-menu .later-buy:focus {
	opacity: 0.3;
}

.brands h2 {
	padding-left: 24px;
}

.brands-items ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	text-align: center;
	margin:0;
	padding: 0;
	margin-bottom: 85px;
}

.brands-items li {
	list-style: none;
	margin-top: 20px;
}

.brands-items .popular-brands { 
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	   align-items: center;
	-ms-flex-pack: center;
	justify-content: center;
	
	width: 220px;
	height: 142px;
	border: 1px solid #eaeaea;
}

.brands-items .popular-brands:hover {
	box-shadow: 0 10px 25px 0px rgba(0,0,0, 0.5);
}

.brands-items .popular-brands:focus {
	box-shadow: 0 4px 10px 0px rgba(0,0,0, 0.5);
}

.brands-items .popular-brands:focus {
	opacity: 0.3;
}

.service-wrapper {
	width: 100%;
	background-color: #f4f8f9;
}

.service h2 {
	margin:0;
	padding:0;
	padding-top: 66px;
	padding-bottom: 27px;
	
	font-size: 30px;
	line-height: 30px;
	text-transform: uppercase;
	font-weight: normal;
}

.service p {
	margin: 0;
	width: 403px;

	font-family: "PT Sans", Arial, sans-serif;
	font-size: 13px;
	line-height: 24px;
}

.services {
	display: flex;
	justify-content: space-between;

	margin-top: 65px;
}

.services input[type=radio] {
	display: none;
}

.service-item {
	margin: 0;
	padding: 0;
	
	margin-right: 80px;
	margin-top: 5px;


	list-style: none;

	position: relative;
}
.service-item::after {
	content: "";
	
	position: absolute;
	top: -44px;
	right: 0px;

	width: 10px;
	height: 272px;

	background-image: url("../img/main/line.png");
	background-repeat: no-repeat;
	background-position: 0 0;

	opacity: 0.25;
}

.service-item label {
	display: inline-block;
	box-sizing: border-box;
	width: 240px;
	min-height: 61px;
	padding-left: 22px;
	padding-top: 14px;


	background-color: #32425c;
	color: #fff;
	border-bottom: 1px solid #778293;
	font-size: 21px;
	line-height: 30px;
	font-weight: bold;
}

.service-item label:hover {
	background-color: #293449;
}

.rows {
	overflow: hidden;
}

.about-service {
	width: 300%;
	transition: transform 0.8s ease;
}

.about-service div {
	float: left;
	width: 620px;
	min-height: 289px;
}

.about-service h3 {
	margin: 0;
	margin-top: 3px;
	margin-bottom: 26px;
	font-size: 36px;
	line-height: 36px;
	color: #32425c;
	text-transform: uppercase;
	font-weight: normal;
}

.about-service p {
	margin: 0;
	width: 280px;
}
.guarantee p {
	width: 385px;
}

#srv-1:checked ~ .service-item label[for="srv-1"],
#srv-2:checked ~ .service-item label[for="srv-2"],
#srv-3:checked ~ .service-item label[for="srv-3"] {
	background-color: #fff;
	color: #32425c;
	border: none;
}

#srv-1:checked ~ .rows .about-service {
	transform: translate(0);
}
#srv-2:checked ~ .rows .about-service {
	transform: translate(-620px);
}
#srv-3:checked ~ .rows .about-service {
	transform: translate(-1240px);
}

.about-service .delivery {
	position: relative;
}
.about-service .delivery::after {
	content: "";
	
	position: absolute;
	top: 22px;
	right: 0px;

	width: 427px;
	height: 250px;

	background-image: url("../img/main/delivery.png");
	background-repeat: no-repeat;
	background-position: 0 0;

	z-index: -1;
}

.about-service .guarantee {
	position: relative;
}

.about-service .guarantee::after {
	content: "";
	
	position: absolute;
	top: 0px;
	right: 10px;

	width: 334px;
	height: 263px;

	background-image: url("../img/main/guarantee.png");
	background-repeat: no-repeat;
	background-position: 0 0;

	z-index: -1;
}

.about-service .credit {
	position: relative;
}

.credit .btn {
	display: inline-block;
	width: 195px;
	min-height: 38px;
	box-sizing: border-box;
	padding-left: 45px;
	padding-top: 10px;
	border-radius: 3px;
	background-color: #ff5357;
	margin-top: 27px;
}

.about-service .credit::after {
	content: "";
	
	position: absolute;
	top: 0px;
	right: 0px;

	width: 417px;
	height: 274px;

	background-image: url("../img/main/credit.png");
	background-repeat: no-repeat;
	background-position: 0 0;

	z-index: -1;
}

.about {
	margin-top: 80px;
	margin-bottom: 86px;
	display: flex;
	justify-content: space-between;
}

.about h2 {
	margin:0;
	margin-bottom: 26px;
	
	font-size: 30px;
	line-height: 30px;
	text-transform: uppercase;
	font-weight: normal;
}

.about p {
	margin: 0;
	margin-bottom: 25px;
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 13px;
	line-height: 24px;
}

.office p {
	margin-bottom: 30px;
}

.about .aboutus {
	width: 526px;
}

.aboutus .exemple {
	margin-bottom: 22px;
}

.aboutus ul {
	margin: 0;
	padding: 0;
}

.exemple-list li {
	margin: 0;
	padding: 0;
	padding-left: 37px;
	margin-bottom: 20px;

	list-style: none;
	font-size: 18px;
	line-height: 20px;

	position: relative;
}

.exemple-list li::before {
	content:"";
	
	position: absolute;
	top: 8px;
	left: 0px;

	width: 25px;
	height: 2px;  
	background-color: #ee3643;
}

.aboutus li:last-child {
	margin-bottom: 35px;
}

.aboutus .btn {
	display: inline-block;
	padding: 10px 40px;
	border-radius: 3px;
}

.about .office {
	width: 302px;
}

.office img {
	margin-bottom: 35px;
}

.office .btn {
	display: inline-block;
	padding: 10px 60px 10px 64px;
	border-radius: 3px;
}

.main-footer-wrapper {
	width: 100%;
	background-color: #32425c;
}

.main-footer {
	display: flex;
	flex-wrap: wrap;
	min-height: 193px;
	justify-content: space-between;
	align-content: flex-start;
	align-items: flex-start;
}

.main-footer .logo {
	margin: 0;
	display: inline-block;
	width: 220px;
	height: 68px;
	box-sizing: border-box;
	padding-top: 20px;
	padding-left: 41px;
	box-shadow: inset 0 1px 0 0 #ea515c,
				inset 0 -5px 0 0 #9f0617;
	
	vertical-align: middle;
	font-size: 30px;
	line-height: 30px;
	text-transform: uppercase;
	color: #fff;
	background-color: #ee3643;
}

.main-footer .adress-phone {
	margin: 0;
	padding: 0;
	margin-top: 30px;
	margin-left: 3px;
	
	width: 327px;
	
	font-size: 18px;
	line-height: 24px;
	color: #fff;
}

.main-footer .footer-navigation {
	margin: 0px;
	padding: 0px;
	margin-top: 38px;
	list-style: none;
	
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	flex-wrap: wrap;
}

.footer-navigation a {
	font-size: 18px;
	line-height: 24px;
	text-decoration: none;
}

.main-footer .bottom-navigation {
	
	width: 548px;
}

.bottom-navigation a {
	color: #fff;
}

.main-footer .catalog-navigation {
	width: 525px;
	margin-top: 30px;

}
.catalog-navigation a {
	color: #ffd180;
}

.footer-navigation a:hover {
	text-decoration: underline;
}

.footer-navigation a:focus {
	opacity: 0.5;
	text-decoration: none;
}

.bottom-footer-wrapper {
	width: 100%;
	background-color: #293449;
}

.bottom-footer {
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
	padding: 0;
	
	padding-top: 37px;
	padding-bottom: 32px;
	font-size: 16px;
	line-height: 18px;
	color: #fff;
}

.bottom-footer p {
	margin:0;
	width: 275px;
}

.bottom-footer .sub {
	display: block;
}

.footer-social {
	display: flex;
	width: 134px;
	justify-content: space-between;
}

.footer-social,
.footer-copyright {
	margin: 0;
	padding: 0;
	list-style: none;
}

.footer-social li,
.footer-copyright li {
	margin: 0;
	padding: 0;
}

.social-button {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 41px;
	height: 41px;

	background-color: #212a3a;
	border-radius: 20px;
}

.social-button:hover,
.social-button:focus {
	background-color: #ee3643;
}

.footer-copyright {
	display: flex;
	width: 287px;
	justify-content: space-between;
	margin-right: 13px;
}
.footer-copyright a {
	display: block;

	color:#ffd180;
}

.footer-copyright a:hover {
	text-decoration: underline;
}

.footer-copyright a:focus {
	color: #ee3643;
	text-decoration: none;
}

.visually-hidden {
	position: absolute;
	overflow: hidden;
	clip: rect(0 0 0 0);
	height: 1px;
	width: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
}

.btn {
	font-family: "Cuprum", Arial, sans-serif;
	font-size: 14px;
	line-height: 18px;
	color: #fff;
	background-color: #ee3643;
	text-transform: uppercase;
	border: 0;
	border-radius: 3px;
}

.btn:hover {
	background-color: #ca2c37;
}

.btn:focus {
	background-color: #ba2732;
}


/* стили для каталога */

.inner-page .corf {
	background-color: #ee3643;
}

.user a {
	font-size: 21px;
	line-height: 21px;
	color: #000;
}
.user {
	background-color: #fff;
}

.user a:focus {
	opacity: 0.3;
}

.check .user {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	   align-items: center;
	-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	
	width: 299px;
	height: 45px;
}

.user .user-name,
.user .user-btn {
	padding-left: 13px;
}

.user .user-name {
	width: 209px;
}

.check .user-nav {
	padding: 0;
	display: flex;
	justify-content: space-between;
	width: 210px;
	margin-left: 17px;
	margin-top: 5px;
	list-style: none;
}

.user-nav .orders {
	position: relative;
}

.user-nav .orders::after {
	content: "";

	position: absolute;
	left: 90px;
	top: 8px;

	width: 4px;
	height: 4px;

	border-radius: 50%;
	background-color: #32425c;
}

.user .user-btn:hover path {
	fill: #32425c;

}

.user-nav a {
	font-size: 16px;
	line-height: 18px;
	text-decoration: underline;
	color: #32425c;
}

.user-nav a:hover { 
	color: #ee3643;
}

.user-nav a:focus {
	color: #32425c;
	opacity: 0.3;
}

.inner-page .site-navigation {
	margin: 0;
}

.inner-page .main-navigation {
	padding-bottom: 60px;
}

.catalog-nav {
	padding: 0;
	margin:0;
	width: 353px;
	height: 59px;

	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-ms-flex-align: center;
	   align-items: center;

	list-style: none;
}

.catalog-nav li {
	position: relative;
}

.catalog-nav a {
	font-family: PT Sans, Arial, sans-serif;
	font-size: 13px;
	line-height: 18px;
	color: #000;
	text-transform: uppercase;
}

.catalog-nav li::after {
	content: "";
	
	position: absolute;
	right: -22px;
	top: 5px;
	

	width: 8px;
	height: 15px;

	background-image: url("../img/svg/icon-right-small.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.catalog-nav li:last-child::after {
	background-image: none;
}

.catalog .topic-catalog {
	background-color: #f2f6f8; 
}

.catalog h2 {
	margin: 0;
	margin-bottom: 20px;
	padding-left:28px;
	padding-top: 30px;
	padding-bottom: 30px;

	font-size: 30px;
	line-height: 30px;
	color: #32425c;
	text-transform: uppercase;
	font-weight: normal;
}

.container-filter {
	width: 221px;
}

.name-main-filter p,
.sorting p {
	padding-left: 18px;
	margin: 0px;
	vertical-align: middle;

	font-size: 13px;
	line-height: 18px;
	font-family: "PT Sans", Arial, sans-serif; 
	text-transform: uppercase;
}

.name-main-filter {
	width: 220px;
	min-height: 38px;
	background-color:#f7f3ec; 
}

.name-main-filter p {
	padding-top: 10px;
}

.header-sorting {
	min-height: 38px;
	padding-top: 10px;
	box-sizing: border-box;
	
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-ms-flex-wrap: wrap;
    	flex-wrap: wrap;

	background-color: #f7f3ec;
}

.sorting-items {
	padding-right: 16px;
	width: 444px;
	
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-ms-flex-align: flex-start;
	   align-items: flex-start;
	-ms-flex-wrap: wrap;
    	flex-wrap: wrap;
}

.sorting-list {
	width: 354px;
	
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-ms-flex-align: flex-start;
	   align-items: flex-start;
	-ms-flex-wrap: wrap;
    	flex-wrap: wrap;
}

.sorting-items a {
	margin: 0px;
	padding: 0px;

	font-family: "PT Sans", Arial, sans-serif;
	font-size: 13px;
	line-height: 18px;
	
	text-transform: uppercase;
	color: #000;
	border-bottom: 1px dotted #ee3643;
	opacity: 0.3;
}

.sorting-items a:hover {
	opacity: 1;
	border-bottom: 2px solid #ee3643;
}

.sorting-btn {
	margin:0;
	padding: 0;
	padding-right: 2px;
	font-size: 0;
}

.sorting-btn .sorting-btn-1 {
	margin-right: 20px;
}

.sorting-btn a {
	border: none;
}

.sorting-btn a:hover {
	border: none;
}

.sorting-btn a:hover path {
	fill: #ee3643;
}

.sorting-items .sort-activ {
	opacity: 1;
	color: #ee3643;
	border: none;
}

.sorting-items .sort-activ path {
	fill: #ee3643;	
}

.catalog-main-site {
	display: flex;
	justify-content: space-between;
}

.container-catalog-items {
	width: 700px;
}

.catalog-items-group .catalog-items {
	width: 700px;
	margin-top:20px;
	padding:0px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.filter fieldset {
	margin: 0;
	padding: 0;
	border: none;
	min-height: 55px;
}

.filter ul {
	list-style: none;
}

.filter legend {
	margin: 0;
	padding: 0;
	padding-top: 12px;

	font-family: "PT Sans", Arial, sans-serif;
	font-size: 17px;
	line-height: 30px;
	text-transform: uppercase;
	font-weight: bold;
}

.price-option {
	position: relative;
}

.price-option::after {
	content: "";

	position: absolute;
	bottom: 0;

	width: 220px;
	height: 2px;

	background-color: #eeedec;
}

.price-option input[type="text"] {
	padding: 0;
	width: 95px;
	min-height: 38px;
	text-align: center;


	font-family: "PT Sans", Arial, sans-serif;
	font-size: 17px;
	line-height: 18px;
	background-color: #f7f3ec;
	border: 0;
}

.price-option .min-price {
	margin-right: 30px;
}

.price {
	margin-top: 12px;
	margin-bottom: 9px;
	width: 220px;
	min-height: 80px;
	
	position: relative;

	background-color: #f7f3ec;   
}

.price span {
	margin:0;
	padding: 0;
	width: 100%;
}

.price::before {
	content: "";

	position: absolute;
	top: 39px;
	left: 20px;

	width: 181px;
	height: 2px;

	background-color: #d7dcde;
}

.price::after {
	content: "";

	position: absolute;
	top: 39px;
	left: 20px;

	width: 153px;
	height: 2px;

	background-color: #29ac5e;
}

.price span::before {
	content: "";

	position: absolute;
	top: 30px;
	left: 19px;

	width: 22px;
	height: 22px;

	background-image: url("../img/svg/filter-button.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
	background-color: transparent;

	z-index: 1;
	cursor: pointer;
}

.price span::after {
	content: "";

	position: absolute;
	top: 30px;
	right: 40px;

	width: 22px;
	height: 22px;

	background-image: url("../img/svg/filter-button.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
	background-color: transparent;

	z-index: 1;
	cursor: pointer;
}

.price-option-inputs {
	padding-bottom: 25px;

	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: center;
	align-content: center;

	position: relative;
}

.price-option-inputs::after {
	content: "";
	
	position: absolute;
	left: 105px;
	bottom: 43px;
	

	width: 9px;
	height: 1px;

	background-color: #000000;
	border-radius: 3px;
}

.filter-brands ul,
.work-option ul {
	padding: 0;
	margin: 0;
	margin-top: 13px;
	margin-bottom: 20px;
}

.filter-brands {
	position: relative;
}

.filter-brands legend {
	padding-top: 16px;
}

.work-option legend {
	padding-top: 17px;
}

.filter-brands::after {
	content: "";

	position: absolute;
	bottom: 0;

	width: 220px;
	height: 2px;

	background-color: #eeedec;
}

.filter-brands label,
.work-option label {
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 15px;
	line-height: 20px;
	text-transform: uppercase;

	position: relative;

	padding-left: 34px;

	cursor: pointer;
}

.filter-brands li,
.work-option li {
	margin-bottom: 17px;
}

.brands-checkbox input[type="checkbox"] + .checkbox-indicator {
	position: absolute;
	top: -4px;
	left: 0;

	width: 27px;
	height: 23px;

	background-image: url("../img/svg/checkbox-off.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.brands-checkbox input[type="checkbox"]:hover + .checkbox-indicator {
	position: absolute;
	top: -4px;
	left: 0;

	width: 27px;
	height: 23px;

	background-image: url("../img/svg/checkbox-off-hover.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.brands-checkbox input[type="checkbox"]:checked + .checkbox-indicator {
	position: absolute;
	top: -4px;
	left: 0;

	width: 27px;
	height: 23px;

	background-image: url("../img/svg/checkbox-on.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.brands-checkbox input[type="checkbox"]:checked:hover + .checkbox-indicator {
	position: absolute;
	top: -4px;
	left: 0;

	width: 27px;
	height: 23px;

	background-image: url("../img/svg/checkbox-on-hover.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.work-checkbox input[type="radio"] + .checkbox-indicator {
	position: absolute;
	top: -5px;
	left: 0;

	width: 25px;
	height: 25px;

	background-image: url("../img/svg/radio-off.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.work-checkbox input[type="radio"]:hover + .checkbox-indicator {
	position: absolute;
	top: -5px;
	left: 0;

	width: 25px;
	height: 25px;

	background-image: url("../img/svg/radio-off-hover.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.work-checkbox input[type="radio"]:checked + .checkbox-indicator {
	position: absolute;
	top: -5px;
	left: 0;

	width: 25px;
	height: 25px;

	background-image: url("../img/svg/radio-on.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.work-checkbox input[type="radio"]:checked:hover + .checkbox-indicator {
	position: absolute;
	top: -5px;
	left: 0;

	width: 25px;
	height: 25px;

	background-image: url("../img/svg/radio-on-hover.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.filter .filter-button { 
	margin-top: 56px;
	padding: 9px 38px;

	font-family: "PT Sans", Arial, sans-serif;
	font-size: 13px;
	line-height: 18px;
	text-transform: uppercase;

	background-color: #fff;
	border: 1px solid #e5e5e5;

	cursor: pointer;
}

.filter .filter-button:hover {
	border: 1px solid #bdc6ca;
}

.sorting a:focus {
	opacity: 1;
	border-bottom: none;
	color: #ee3643;
}

.paginator ul {
	list-style: none;
	display: flex;
	width: 285px;
	justify-content: space-between;
	margin:0;
	padding: 0;
	margin-top: 30px;
}

.paginator a {
	display: flex;
	width: 36px;
	height: 36px;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;


	font-family: "PT Sans", Arial, sans-serif;
	font-size: 13px;
	line-height: 18px;
	text-transform: uppercase;


	color: #000000;
	background-color: #ffffff;
	border: 1px solid #e5e5e5;
	border-radius: 5px;
}

.paginator .next {
	width: 138px;
}

.paginator a:hover {
	border: 1px solid #bdc6ca;
}

.paginator a:focus {
	border: 1px solid #ee3643;
}

.paginator .active {
	width: 38px;
	min-height: 38px;
	color: #fff;
	background-color: #ee3643;
}

.product-wrapper {
	background-color: #f2f6f8;
}

.product {
	margin-top:60px;
	padding: 65px 0;
	padding-bottom: 68px;
}

.product h2 {
	margin:0;
	padding-bottom: 25px;
	font-size: 30px;
	line-height: 30px;
	text-transform: uppercase;
	font-weight: normal;
}

.product p {
	margin: 0;
	padding: 0;


	font-family: "PT Sans", Arial, sans-serif;
	font-size: 13px;
	line-height: 24px;
}

@keyframes bounce {
	0% {
		transform: translateY(-2000px);
	}

	70% {
		transform: translateY(30px);
	}

	90% {
		transform: translateY(-10px);
	}

	100% {
		transform: translateY(0);
	}
}

@keyframes shake {
	0%,
	100% {
		transform: translateX(0);
	}

	10%,
	30%,
	50%,
	70%,
	90% {
		transform: translateX(-10px);
	}

	20%,
	40%,
	60%,
	80% {
		transform: translateX(10px);
	}
}

.write-us {
	display: none;
	
	top: 205px;
	left: 50%;

	margin-left: -310px;
	
	box-shadow: 0 10px 50px rgba(0, 0, 0, 0.7),
				inset 0 7px 0 0 #ee3643;
}

.write-us .form-container {
	display: flex;
	justify-content: space-between;
	align-content: center;
	flex-wrap: wrap;
	
	width: 460px;
	padding: 50px 80px;
	padding-bottom: 37px;
	
}

.write-us p {
	margin: 0;
	padding: 0;
	margin-bottom: 15px;
}

.write-us p:last-child {
	margin-bottom: 0;
}

.form-write-us label {
	display: block;

	font-size: 18px;
	line-height: 18px;
}

.form-write-us input[type="text"],
.form-write-us textarea {
	margin-top: 8px;

	font-family: "PT Sans", Arial, sans-serif;
	font-size: 13px;
	line-height: 18px;
	color: #999999;
	border: 2px solid #d7dcde;
	border-radius: 3px;
}
.form-write-us::-webkit-input-placeholder {
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 13px;
	line-height: 18px;
	color: #999999;
}
.form-write-us::-moz-placeholder { 
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 13px;
	line-height: 18px;
	color: #999999;
}
.form-write-us textarea {
	display: block;
	resize: none;
}

.form-write-us input[type="text"]:hover,
.form-write-us textarea:hover {
	border: 2px solid #b5b5b5;
}

.form-write-us input[type="text"]:focus,
.form-write-us textarea:focus {
	border: 2px solid #ee3643;
	outline: none;
}

.form-write-us .send {
	width: 100%;
	background-color: #f1f1f1;
}

.write-us .btn-send {
	margin: 37px 80px;

	width: 460px;
	box-sizing: border-box;
	padding: 10px 198px;
}

.write-us input[type="text"] {
	box-sizing: border-box;
	width: 220px;
	padding: 10px 13px;
}

.write-us textarea {
	box-sizing: border-box;
	width: 460px;
	min-height: 114px;
	padding: 10px 13px;
}

.basket {
	display: none;
	
	top: 205px;
	left: 50%;

	margin-left: -310px;
	
	box-shadow: 0 0px 70px rgba(0, 0, 0, 0.7),
				inset 0 7px 0 0 #ee3643;
}

.basket p {
	width: 460px;
	min-height: 66px;
	margin: 55px 80px;
	margin-bottom: 50px;
	padding-left: 98px;
	padding-top: 18px;
	box-sizing: border-box;

	position: relative;

	font-size: 30px;
	line-height: 30px;
	color: #000;

	background-color: #fff;
}

.basket p::before {
	content: "";

	position: absolute;
	top: 0;
	left: 0;

	width: 66px;
	height: 66px;

	background-image: url("../img/svg/form-1.svg");
	background-position: 0 0;
	background-repeat: no-repeat;
}

.basket ul {
	padding: 0;
	margin: 0;
	width: 460px;

	padding: 37px 80px;

	display: flex;
	justify-content: space-between;
	background-color: #f1f1f1;
	list-style: none;
}

.basket .btn-basket {
	display: flex;
	width: 220px;
	height: 38px;

	justify-content: center;
	align-items: center;

	border: none;
}

.basket .later-btn {
	color: #000;
	background-color: #fff;
}

.modal {
	position: fixed;

	color: #000000;
	background-color: #FFF;
	
	z-index: 15;
}

.modal-close {
	position: absolute;
	top: 15px;
	right: 9px;

	width: 22px;
	height: 22px;
	border: 0;

	font-size: 0;
	cursor: pointer;

	background-color: transparent;

	z-index: 20;
}

.modal-close::before,
.modal-close::after {
	content: "";

	position: absolute;
	top: 10px;
	left: 0;

	width: 27px;
	height: 4px;

	background-color: #ee3643;
}

.modal-close::before {
	transform: rotate(45deg);
}

.modal-close::after {
	transform: rotate(-45deg);
}

.modal-map {
	display: none;

	top: 33px;
	left: 50%;

	width: 940px;
	height: 446px;

	margin-left: -470px;
	box-shadow: 0 0px 50px rgba(0, 0, 0, 0.7)
}

.modal-map p {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;

	margin: 0;
	padding: 0;
}

.modal-map iframe {
	position: relative;
	z-index: 2;

	border: none;
}

.button-map {
	padding: 0;
	margin: 0;
	border: 0;

	text-decoration: none;

	cursor: pointer;
}

.modal-show {
	display: block;
	
	animation: bounce 0.6s;
}

.modal-error {
	animation: shake 0.6s;
}