body {
  margin: 0;
  padding: 0;

  font-family: "Cuprum", Arial, sans-serif;
  font-size: 16px;
  line-height: 23px;
  font-weight: 400;
  color: #000000;
}
a {
  text-decoration: none;
}

.top-header-wrapper{
	background-color: #293449;
	min-height: 42px;
	width: 100%;
	
}
.container{
	margin:0 auto;
	padding: 0 10px;
	width: 940px;
}
.top-header {
	margin-bottom: -5px;
	display: flex;
	min-height: 47px;
	background-color: #293449;
	justify-content: space-between;
}

.main-header-logo {
	margin: 0;
	display: inline-block;
	width: 220px;
	box-sizing: border-box;
	padding-top: 12px;
	padding-left: 55px;
	box-shadow: inset 0 1px 0 0 #ea515c,
				inset 0 -5px 0 0 #9f0617;
	


	vertical-align: middle;
	font-size: 24px;
	line-height: 24px;
	text-transform: uppercase;
	color: #fff;
	background-color: #ee3643;
}

.main-header-logo:hover{
	background-color: #ca2c37;
}
.main-header-logo:focus {
  background-color: #ba2732;
}

.buy,
.site-navigation,
.user-navigation {
  list-style: none;
}

.buy{
	margin:0;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	width:720px;
}

.buy a{
	
	display: block;
	width: 150px;
	min-height: 42px;
	box-sizing: border-box;
	padding-top: 12px;
	padding-left: 44px;


	vertical-align: bottom;
	font-size: 17px;
    line-height: 18px;
	color: #fff;

	position: relative;
}
.checkout a{
	padding-left: 20px;
	background-color: #63a63e;
}
.search{
	padding: 0;
	margin: 0;
	width: 270px;
	min-height: 42px;
	padding-left: 48px;
	font-size: 17px;
    line-height: 18px;
	color: #fff;
	background-color: #293449;
	border: none;
}

.buy .marker::before{
  content: "";
  
  position: absolute;
  top:12px;
  left: 16px;

  width: 17px;
  height: 18px;

  background-image: url("../img/svg/icon-bookmark.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  
  opacity: 0.3;
}
.buy .checkout-corf::before{
  content: "";
  
  position: absolute;
  top:12px;
  left: 16px;

  width: 18px;
  height: 18px;

  background-image: url("../img/svg/icon-cart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  
  opacity: 0.3;
}
form {
	position: relative;
}
.buy form::before{
  content: "";
  
  position: absolute;
  top:12px;
  left: 16px;

  width: 20px;
  height: 20px;

  background-image: url("../img/svg/icon-search.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  
  opacity: 0.3;
}

.marker:hover::before,
.checkout-corf:hover::before,
form:hover::before {
	opacity: 1;
}

.marker:focus::before,
.checkout-corf:focus::before{
	opacity: 0.5;
}
form:focus::before{
	opacity: 1;
	color: #ee3643;
}
.buy .search:hover{
  background-color:#212a3a;
}
.buy .search:focus{
	background-color: #fff;
	color: #000;
	border: none;
}

.buy a:hover{
  background-color:#212a3a;
}
.buy a:focus {
  background-color: #161d29;
}
.buy a:focus {
  color: rgba(255, 255, 255, 0.6);
}


.checkout a:hover {
	background-color: #5fbb2d;
}
.checkout a:focus {
	color: rgba(255, 255, 255, 0.5);
	background-color: #518534;
}
.bottom-header-wrapper{
	background-color: #f3f7f9;
	width: 100%;
}
.bottom-header{
	
	display: flex;
	justify-content: space-between;
	padding-top: 46px;
	padding-bottom: 22px;
	
	font-size: 16px;
    line-height: 23px;
    
    background-color: #f3f7f9;
	color: #ee3643;
}

.bottom-header .promo{
	margin:0;
	padding: 0;
	padding-top: 2px;
	padding-left: 52px;

	
	width: 200px;
	font-style: italic;
	text-align: left;
}

.bottom-header .phone{
	margin: 0;
	
	margin-bottom: 5px;
	padding: 10px 49px 8px 71px;

	position: relative;

	border:3px solid #fff;
	font-size: 21px;
    line-height: 21px;
}
.bottom-header .phone::before{
  content: "";
  
  position: absolute;
  top:10px;
  left: 12px;

  width: 20px;
  height: 20px;

  background-image: url("../img/svg/icon-phone.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  
  opacity: 1;
}

.bottom-header .adress{

	margin:0;
	margin-left: 10px;
	
	font-size: 14px;
    line-height: 24px;
    color: #32425c;
}

.user-navigation {

	margin:0;
	padding: 0;
	

	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;


	width: 282px;
	min-height: 47px;
}



.user-navigation a{
	display: block;

	vertical-align: middle;
	font-size: 21px;
    line-height: 21px;
    color: #000;
    background-color: #fff;
}
.user-navigation .login-link{
	width: 122px;
	min-height: 45px;
	box-sizing: border-box;

	position: relative;

	padding-left: 48px;
	padding-top: 12px;


}
.user-navigation .login-link::before{
  content: "";
  
  position: absolute;
  top:13px;
  left: 14px;

  width: 22px;
  height: 18px;

  background-image: url("../img/svg/icon-login.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  
  opacity: 0.3;
  
}
.user-navigation .login-link:focus::before{
	color: #293449;
	opacity: 1;
}

.user-navigation .check-in{
	
	width: 150px;
	min-height: 45px;
	box-sizing: border-box;

	padding-left: 25px;
	padding-top: 12px;
}
.user-navigation a:hover{
	color: #ff3333;
}

.user-navigation a:focus{
	color: rgba(0, 0, 0, .3);
}

.main-navigation{
	width: 100%;
	background-color: #f3f7f9;
	padding-bottom: 42px;	
}
.main-navigation .site-navigation{
	padding: 0;
	min-height: 61px;

	display: flex;
	align-items: center;
	flex-wrap: wrap;
	
	background-color: #32425c;
	box-shadow: inset 0 -5px 0 0 #293449;

}

.site-navigation a{
	padding: 20px 30px 20px 31px;
	font-size: 17px;
    line-height: 17px;
    color: #fff; 
}
.site-navigation .main{
	padding-left: 53px;
}
.site-navigation .last{
	padding-right: 53px;
}
.site-navigation a:hover{
	background-color: #293449;
}

.site-navigation a:focus{
	background-color: #1d2739;
	color: rgba( 255, 255, 255, .5);
}


.features-items{
	margin:0;
	padding:0;
	margin-top: 60px;
	margin-bottom: 14px; 
	list-style: none;
	
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-content: flex-start;
	align-items: flex-start;
}
.features-items-2{
	list-style: none;
	padding: 0;
}
.features-items li{
	margin-bottom: 20px;
	width: 300px;
	min-height: 123px;
}
.features-items h3{
	padding: 0;
	margin:0;
	padding-left: 23px;
	padding-top: 22px;

	font-size: 24px;
    line-height: 30px;
	color: #fff;
}
.features-items a{
	display: inline-block;
	vertical-align: middle;
	margin-left: 24px;
	margin-top: 12px;
	

	font-size: 14px;
    line-height: 18px;
	background-color: rgba(0, 0, 0, 0.1);
	color: #fff;
	text-transform: uppercase;
	border-radius: 5px;

}

.features-items .material{
	background-color: #ffbf47;
	position: relative;
}
.features-items .material::after{
  content: "";
  
  position: absolute;
  top: 32px;
  right: 40px;

  width: 50px;
  height: 69px;

  background-image: url("../img/svg/icon-1.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.material a{
	padding: 10px 24px;
}

.features-items .tool{
	background-color: #3bbce3;
	position: relative;
}

.features-items .tool::after{
  content: "";
  
  position: absolute;
  top: 32px;
  right: 26px;

  width: 79px;
  height: 66px;

  background-image: url("../img/svg/icon-2.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  
}
.tool a{
	padding: 10px 27px 10px 26px;
}

.features-items .technique{
	background-color: #dc91d8;
	position: relative;
}
.features-items .technique::after{
  content: "";
  
  position: absolute;
  top: 30px;
  right: 29px;

  width: 79px;
  height: 66px;

  background-image: url("../img/svg/icon-3.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  
}
.technique a{
	padding: 10px 31px 10px 30px;
}
.features-items .sale{
	background-color: #8ed78f;
	position: relative;
}
.features-items .sale::after{
  content: "";
  
  position: absolute;
  top: 26px;
  right: 36px;

  width: 68px;
  height: 74px;

  background-image: url("../img/svg/icon-4.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  
}
.sale a{
	padding: 10px 23px;
}
.features-items .delivery{
		background-color: #ffc047;
		position: relative;
		align-self: flex-end;
}
.features-items .delivery::after{
  content: "";
  
  position: absolute;
  top: 32px;
  right: 30px;

  width: 81px;
  height: 65px;

  background-image: url("../img/svg/icon-5.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  
}
.delivery a{
	padding: 10px 37px; 
}

.features-items a:hover{
	background-color: rgba(0, 0, 0, 0.2);
}

.features-items a:focus{
	background-color: rgba(0, 0, 0, 0.3);
}

 .features-items .slider {
	width: 620px;
	position: relative;
}

.slider input[type=radio] {
    display: none;
}

.slider-inner {
    overflow: hidden;
}

.slider-slides {
    width: 200%;
    transition: transform 0.8s ease;
}

.slider-slides img {
    float: left;
    width: 620px;
    height: 266px;
}
.slider-controls {
    text-align: center;
}

.slider-controls label {
    
    width: 10px;
    height: 10px;

    position: absolute;
    top: 220px;
    z-index: 10;
    
    background-color: #fff;
    border: 4px solid white;
    border-radius: 50%;
    transition: background-color 0.2s;
    cursor: pointer;
}
.slider-controls label:last-child{
	margin: 0 23px;
}

#btn-1:checked ~ .slider-controls label[for="btn-1"],
#btn-2:checked ~ .slider-controls label[for="btn-2"]{
    background-color: #ee3643;
}

#btn-1:checked ~ .slider-inner .slider-slides {
    transform: translate(0);
}
#btn-2:checked ~ .slider-inner .slider-slides {
    transform: translate(-620px);
}


.topic {
	margin: 0;
	padding: 0;
	min-height: 89px;

	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #f9f5f0;
}

.topic h2{
	margin:0;
	padding: 0;
	padding-left: 28px;
	

	font-size: 30px;
    line-height: 30px;
    color: #333366;
    text-transform: uppercase;
    font-weight: normal;
}
.topic a{
	margin-right: 24px;

	display: inline-block;
	width: 253px;
	min-height: 38px;
	border-radius: 3px;
	text-align: center;
	box-sizing: border-box;
	padding-top: 10px;

	
}

.btn:hover{
	background-color: #ca2c37;
}
.btn:focus{
	background-color: #ba2732;
}


.catalog-items {
	margin: 0;
	margin-top: 20px;
	padding:0px;
	display: flex;
	justify-content: space-between;
}
.catalog-items li{
	margin-bottom: 20px;
	width: 219px;
	min-height: 316px;

	position: relative;

	border: 1px solid #eaeaea;
	font-family: "PT Sans", Arial, sans-serif;
	font-weight: bold;
	color: #000000;
	list-style: none;
	text-align: center;
}
.catalog-items li::before{
	content: "";
	position: absolute;
	left: 42px;
	bottom: 20px;

	width: 143px;
	height: 40px;

	background-image: url("../img/svg/red-button.svg");
	background-repeat: no-repeat;
	background-position: 0 0;

	z-index: -1;
}

.catalog-items h3{
	margin:0;
	margin-top: 35px;
	margin-bottom: 10px;
	font-size: 18px;
	line-height: 20px;
}
.catalog-items del{
	text-align: center;
	font-size: 17px;
	line-height: 18px;
	color: #a9a9a9;
}
.catalog-items .new-price{
	vertical-align: middle;
	margin: 0;
	margin-top: 19px;
	text-align: center;

	font-size: 17px;
	line-height: 18px;
	color: #fff;
}
.catalog-items .no-old-price {
	margin-top: 51px;
}


.catalog-items li:hover{
	box-shadow: 0 10px 25px 0px rgba(0,0,0, 0.5);
}

 .user-menu a{
	font-family: "Cuprum", Arial, sans-serif;
	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;
	
}
.user-menu a:first-child{
	background-color: #63a63e;
	color: #fff;
}
 .user-menu a:first-child:hover{
	background-color: #5fbb2d;
}
 .user-menu a:first-child:focus{
	background-color: #518534;
}

.user-menu a:last-child{
	background-color: #fff;
	border: 3px solid #669933;
	color: #32425c;
}
.user-menu a:last-child:hover{
	border: 3px solid #32425c;
}
.user-menu a:last-child:focus{
	opacity: 0.3;
}
.brands h2{
	padding-left: 24px;
}
.brands-items ul{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	text-align: center;
	margin:0;
	padding: 0;
	margin-bottom: 85px;
}
.brands-items li{

	list-style: none;
	margin-top: 20px;
}

.brands-items .popular-brands{
	display: flex;
	align-items: center;
	justify-content: center;
	
	width: 220px;
	min-height: 142px;
	border: 1px solid #eaeaea;
}

.brands-items .popular-brands:hover{
	box-shadow: 0 10px 25px 0px rgba(0,0,0, 0.5);
}

.brands-items .popular-brands:focus{
	box-shadow: 0 4px 10px 0px rgba(0,0,0, 0.5);
}
.brands-items .popular-brands:focus{
	opacity: 0.3;
}


.service-wrapper {
	width: 100%;
	background-color: #f4f8f9;
}
.service h2{
	margin:0;
	padding:0;
	padding-top: 65px;
	padding-bottom: 30px;
	
	font-size: 30px;
	line-height: 30px;
	text-transform: uppercase;
	font-weight: normal;
}
.service p{
	margin: 0;
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 13px;
	line-height: 24px;
}

.services{
	display: flex;
	justify-content: space-between;

	margin-top: 65px;
}

.services input[type=radio] {
    display: none;
}

.service-item {
	margin: 0;
	padding: 0;
	margin-right: 80px;
	list-style: none;
}
.service-item label{
	display: inline-block;
	box-sizing: border-box;
	width: 240px;
	min-height: 60px;
	padding-left: 22px;
	padding-top: 16px;


	background-color: #32425c;
	color: #fff;
	border-bottom: 1px solid #778293;
}
.rows{
 	overflow: hidden;
}
.about-service{
	width: 300%;
    transition: transform 0.8s ease;
}
.about-service div{
	float: left;
	width: 620px;
	min-height: 284px;
}
.about-service h3{
	margin: 0;
	margin-bottom: 25px;
	font-size: 36px;
	line-height: 36px;
	color: #32425c;
	text-transform: uppercase;
	font-weight: normal;

}
.about-service p{
	margin: 0;
	width: 280px;
}

#srv-1:checked ~ .service-item label[for="srv-1"],
#srv-2:checked ~ .service-item label[for="srv-2"],
#srv-3:checked ~ .service-item label[for="srv-3"] {
    background-color: #fff;
    color: #32425c;
}

#srv-1:checked ~ .rows .about-service {
    transform: translate(0);
}
#srv-2:checked ~ .rows .about-service {
    transform: translate(-620px);
}
#srv-3:checked ~ .rows .about-service {
    transform: translate(-1240px);
}





.about{
	margin-top: 80px;
	margin-bottom: 86px;
	display: flex;
	justify-content: space-between;
}
.about h2{
	margin:0;
	margin-bottom: 28px;
	
	font-size: 30px;
	line-height: 30px;
	text-transform: uppercase;
	font-weight: normal;
}
.about p{
	margin: 0;
	margin-bottom: 25px;
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 13px;
	line-height: 24px;
}
.about .aboutus {
	width: 526px;
}
.aboutus .exemple{
	margin-bottom: 20px;
}
.aboutus ul{
	margin: 0;
	padding: 0;
	padding-left: 37px;
}
.aboutus li{
	margin: 0;
	padding: 0;
	margin-bottom: 22px;
	list-style: none;
	font-size: 18px;
	line-height: 20px;
}
.aboutus li:last-child{
	margin-bottom: 36px;
}
.about .contacts{
	width: 302px;
}
.contacts img{
	margin-bottom: 40px;
}
.main-footer-wrapper{
	width: 100%;
	background-color: #32425c;

}
.main-footer{
	display: flex;
	flex-wrap: wrap;
	min-height: 193px;
	justify-content: space-between;
	align-content: flex-start;
	align-items: flex-start;

}
.main-footer .logo{
	margin: 0;
	display: inline-block;
	width: 220px;
	min-height: 68px;
	box-sizing: border-box;
	padding-top: 16px;
	padding-left: 41px;
	box-shadow: inset 0 1px 0 0 #ea515c,
				inset 0 -5px 0 0 #9f0617;
	


	vertical-align: middle;
	font-size: 30px;
	line-height: 30px;
	text-transform: uppercase;
	color: #fff;
	background-color: #ee3643;
}
.main-footer .adress-phone {
	margin: 0;
	padding: 0;
	margin-top: 26px;
	
	width: 327px;
	
	font-size: 18px;
	line-height: 24px;
	color: #fff;
}

.main-footer .footer-navigation {
	margin: 0px;
	padding: 0px;
	margin-top: 38px;
	list-style: none;
	
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	flex-wrap: wrap;
}


.footer-navigation a{
	font-size: 18px;
	line-height: 24px;
	text-decoration: none;
	
}
.main-footer .bottom-navigation {
	
	width: 548px;
}
.bottom-navigation a{
	color: #fff;
}
.main-footer .catalog-navigation{
	width: 525px;
	margin-top: 26px;

}
.catalog-navigation a{
	color: #ffd180;
}

.footer-navigation a:hover{
	text-decoration: underline;
}

.footer-navigation a:focus{
	opacity: 0.5;
	text-decoration: none;

}

.bottom-footer-wrapper{
	width: 100%;
	background-color: #293449;
}
.bottom-footer{
	display: flex;
	justify-content: space-between;
	 margin: 0 auto;
	 padding: 0;
	
	padding-top: 37px;
	padding-bottom: 32px;
	font-size: 16px;
	line-height: 18px;
	color: #fff;
}
.bottom-footer p{
	margin:0;
}
.footer-social{
	display: flex;
	width: 134px;
	justify-content: space-between;
}
.footer-social,
.footer-copyright{
	margin: 0;
	padding: 0;
	list-style: none;
}
.footer-social li,
.footer-copyright li{
	margin: 0;
	padding: 0;
	}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 41px;
  height: 41px;

  background-color: #212a3a;
  border-radius: 20px;
}

.footer-copyright{
	display: flex;
	width: 287px;
	justify-content: space-between;
	margin-right: 13px;
}
.footer-copyright a{
	color:#ffd180;
}
.footer-copyright a:hover{
	text-decoration: underline;
}

.footer-copyright a:focus{
	color: #ee3643;
	text-decoration: none;

}

.form-write-us label{
	font-size: 18px;
	line-height: 18px;
}
.form-write-us p>input,
.form-write-us textarea {
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 16px;
	line-height: 18px;
	color: #999999;
	border: 2px solid #d7dcde;
}
.form-write-us{
	box-shadow: inset 0 15px 0 0 #ee3643;
}
.form-write-us p>input:hover,
.form-write-us textarea:hover{
	border: 2px solid #b5b5b5;
}

.form-write-us p>input:focus,
.form-write-us textarea:focus{
	border: 2px solid #ee3643;
}
.form-write-us .send{
	background-color: #f1f1f1;
}
.visually-hidden {
	position: absolute;
	overflow: hidden;
	clip: rect(0 0 0 0);
	height: 1px;
	width: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
}
.btn{
	font-size: 14px;
    line-height: 18px;
    color: #fff;
    background-color: #ee3643;
    text-transform: uppercase;
}
/* стили для каталога */

.inner-page .corf{
	background-color: #ee3643;
}

.user a{
	font-size: 21px;
    line-height: 21px;
    color: #000;
}
.user {
	background-color: #fff;
}
.user a:focus{
	opacity: 0.3;
}

.check .user{
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;

	width: 299px;
	min-height: 45px;
}
.check .user-nav{
	display: flex;
	justify-content: space-between;
	width: 212px;
	margin-left: 17px;
	margin-top: 5px;
	list-style: none;

}
.user-nav a{
	font-size: 16px;
    line-height: 18px;
	text-decoration: underline;
	color: #32425c;
}
.user-nav a:hover{
	color: #ee3643;

}
.user-nav a:visited{
	color: #32425c;
}

.catalog-nav a{
	display: inline-block;
	padding-right: 39px;
	padding-top: 24px;

	font-size: 13px;
    line-height: 18px;
    color: #000;
    text-transform: uppercase;
    position: relative;
}

.catalog .topic-catalog{
	min-height: 89px;
    background-color: #f2f6f8; 
}
.catalog h2{
	padding-left:30px;
	padding-top: 30px;
	padding-bottom: 33px;

	font-size: 30px;
    line-height: 30px;
    color: #32425c;
    text-transform: uppercase;
}
.catalog-nav a::after{
  content: "";
  
  position: absolute;
  left: 70px;
  

  width: 10px;
  height: 14px;

  background-image: url("../img/svg/icon-right-small.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
 
}

.container-filter{
	width: 221px;
}

.name-main-filter p,
.sorting p{
	
	padding-left: 18px;
	margin: 0px;
	vertical-align: middle;

	font-size: 13px;
    line-height: 18px;
    font-family: "PT Sans", Arial, sans-serif; 
    text-transform: uppercase;
   
}
.name-main-filter{
	width: 220px;
	min-height: 38px;
	background-color:#f7f3ec; 
}


.header-sorting{
	min-height: 38px;
	background-color: #f7f3ec;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
 .sorting-items a{
 	margin: 0px;
	padding: 0px;
 	font-family: "PT Sans", Arial, sans-serif;
	font-size: 13px;
    text-transform: uppercase;
    color: #000;
    border-bottom: 2px dotted #ee3643;
    opacity: 0.3;
}

.sorting-items a:hover{
	opacity: 1;
	border-bottom: 2px solid #ee3643;
}

.catalog-main-site{
	display: flex;
	justify-content: space-between;
}
.container-catalog-items{
	width: 700px;
}
.catalog-items-group .catalog-items{
	width: 700px;
	margin-top:20px;
	padding:0px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

}

.filter fieldset {
  border: none;
}
.filter ul {
  list-style: none;
}

.filter legend{
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 17px;
    line-height: 30px;
    text-transform: uppercase;
    font-weight: bold;
}
.price-option input{
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 17px;
    line-height: 18px;
    background-color: #f7f3ec;

}
.filter-brands label,
.work-option label {
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 15px;
    line-height: 20px;
    text-transform: uppercase;
}
.filter .filter-button{
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 13px;
    line-height: 18px;
}

.sorting a:focus{
	opacity: 1;
	border-bottom: none;
	color: #ee3643;
}
.paginator ul{
	list-style: none;
	display: flex;
	width: 285px;
	justify-content: space-between;
	margin:0;
	padding: 0;
	margin-top: 52px;
}

.paginator a{
	display: inline-block;
	width: 39px;
	min-height: 39px;


	font-family: "PT Sans", Arial, sans-serif;
	font-size: 13px;
    line-height: 18px;


    color: #000000;
    background-color: #ffffff;
    border: 1px solid #e5e5e5;
}
.paginator .next{
	width: 138px;
}
.paginator a:hover{
	border: 1px solid #bdc6ca;
}
.paginator a:focus{
	border: 1px solid #ee3643;
}

.paginator .active{
	color: #fff;
	background-color: #ee3643;
}
.product-wrapper{
	background-color: #f2f6f8;
}
.product{
	margin-top:60px;
	padding-top: 65px;
	padding-bottom: 71px;
}
.product h2{
	margin:0;
	padding-bottom: 33px;
	font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
}
.product p{
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 13px;
    line-height: 24px;
}

