body {
  margin: 0;
  padding: 0;

  font-family: "Cuprum", Arial, sans-serif;
  font-size: 16px;
  line-height: 23px;
  font-weight: 400;
  color: #000000;
}
a {
  text-decoration: none;
}

.top-header {
	background-color: #293449;
}

.main-header-logo{
	background-color: #ee3643;
	width: 220px;
	height: 47px;
}
.main-header-logo a{
	font-size: 24px;
	line-height: 24px;
	text-transform: uppercase;
	color: #fff;
}

.main-header-logo:hover{
	background-color: #ca2c37;
}
.main-header-logo:focus {
  background-color: #ba2732;
}

.buy,
.site-navigation,
.user-navigation {
  list-style: none;
}

.buy a{
	font-size: 17px;
    line-height: 18px;
	color: #fff;
}
.search{
	width: 170px;
	height: 43px;
	font-size: 17px;
    line-height: 18px;
	color: #fff;
	background-color: #293449;
	border: none;

}
.buy .search:hover{
  background-color:#212a3a;
}
.buy .search:focus{
	background-color: #fff;
	color: #000;
	border: none;
}

.buy a:hover{
  background-color:#212a3a;
}
.buy a:focus {
  background-color: #161d29;
}
.buy a:focus {
  color: rgba(255, 255, 255, 0.6);
}

.checkout a{
	background-color: #63a63e;
}
.checkout a:hover {
	background-color: #5fbb2d;
}
.checkout a:focus {
	color: rgba(255, 255, 255, 0.5);
	background-color: #518534;
}

.bottom-header{
	font-size: 16px;
    line-height: 23px;
    background-color: #f3f7f9;
	color: #ff3333;
}

.bottom-header .promo{
	font-style: italic;
	text-align: left;
}

.bottom-header .phone{
	font-size: 21px;
    line-height: 21px;
}

.bottom-header .adress{
	font-size: 14px;
    line-height: 24px;
    color: #32425c;
}

.user-navigation a{
	font-size: 21px;
    line-height: 21px;
    color: #000;
    background-color: #fff;
}

.user-navigation a:hover{
	color: #ff3333;
}

.user-navigation a:focus{
	color: rgba(0, 0, 0, .3);
}

.main-navigation .site-navigation{
	background-color: #32425c;

}
.site-navigation a{
	font-size: 17px;
    line-height: 17px;
    color: #fff; 
}

.site-navigation a:hover{
	background-color: #293449;
}

.site-navigation a:focus{
	background-color: #1d2739;
	color: rgba( 255, 255, 255, .5);
}


.features-items{
	list-style: none;
}
.features-items h3{
	font-size: 24px;
    line-height: 30px;
	color: #fff;

}
.features-items a{
	font-size: 14px;
    line-height: 18px;
	background-color: rgba(0, 0, 0, 0.1);
	color: #fff;
	text-transform: uppercase;
}

.features-items li:first-of-type{
	background-color: #ffbf47;
}

.features-items li:nth-of-type(2){
	background-color: #3bbce3;
}
.features-items li:nth-of-type(3){
	background-color: #dc91d8;
}
.features-items li:nth-of-type(4){
	background-color: #8ed78f;
}
.features-items li:last-of-type{
	background-color: #ffc047;
}

.features-items a:hover{
	background-color: rgba(0, 0, 0, 0.2);
}

.features-items a:focus{
	background-color: rgba(0, 0, 0, 0.3);
}

.topic {
	background-color: #f9f5f0;
}

.topic h2{
	font-size: 30px;
    line-height: 30px;
    color: #333366;
    text-transform: uppercase;
}


.btn:hover{
	background-color: #ca2c37;
}

.btn:focus{
	background-color: #ba2732;
}

.catalog-items li{
	border: 1px solid #eaeaea;
	font-family: "PT Sans", Arial, sans-serif;
	font-weight: bold;
	color: #000000;
	list-style: none;
}

.catalog-items h3{
	font-size: 18px;
	line-height: 20px;
}
.catalog-items del{
	font-size: 17px;
	line-height: 18px;
	color: #a9a9a9;
}
.catalog-items a{

	font-size: 17px;
	line-height: 18px;
	color: #fff;
	background-color: #ee3643;
}

.catalog-items li:hover{
	box-shadow: 0 10px 25px 0px rgba(0,0,0, 0.5);
}

 .user-menu a{
	font-family: "Cuprum", Arial, sans-serif;
	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;
	
}
.user-menu a:first-child{
	background-color: #63a63e;
	color: #fff;
}
 .user-menu a:first-child:hover{
	background-color: #5fbb2d;
}
 .user-menu a:first-child:focus{
	background-color: #518534;
}

.user-menu a:last-child{
	background-color: #fff;
	border: 3px solid #669933;
	color: #32425c;
}
.user-menu a:last-child:hover{
	border: 3px solid #32425c;
}
.user-menu a:last-child:focus{
	opacity: 0.3;
}


.brands-items li{
	border: 1px solid #eaeaea;
	list-style: none;
	width: 217px;
	height: 144px;
}

.brands-items li:hover{
	box-shadow: 0 10px 25px 0px rgba(0,0,0, 0.5);
}

.brands-items li:focus{
	box-shadow: 0 4px 10px 0px rgba(0,0,0, 0.5);
}
.brands-items a:focus{
	opacity: 0.3;
}

.service{

	background-color: #f4f8f9;
}
.service h2{
	font-size: 30px;
	line-height: 30px;
}
.service p{
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 13px;
	line-height: 24px;
}

.about-service h3{
	font-size: 36px;
	line-height: 36px;
	color: #32425c;
}

.about h2{
	font-size: 30px;
	line-height: 30px;
}
.about p{
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 13px;
	line-height: 24px;
}

.aboutus li{
	list-style: none;
	font-size: 18px;
	line-height: 20px;
}



.main-footer .logo{
	background-color: #ee3643;
}
.main-footer a{
	font-size: 30px;
	line-height: 30px;
	text-transform: uppercase;
	color: #fff;
}
.main-footer p{
	font-size: 18px;
	line-height: 24px;
	color: #fff;
}

.main-footer,
.footer-navigation {
	background-color: #32425c;
}

.footer-navigation ul{
	list-style: none;
}
.footer-navigation a{
	font-size: 18px;
	line-height: 24px;
	text-decoration: none;
	
}

.bottom-navigation a{
	color: #fff;
}

.catalog-navigation a{
	color: #ffd180;
}

.footer-navigation a:hover{
	text-decoration: underline;
}

.footer-navigation a:focus{
	opacity: 0.5;
	text-decoration: none;

}

.footer-social,
.footer-copyright {
	background-color: #293449;
}

.footer-social,
.footer-copyright {
	font-size: 16px;
	line-height: 18px;
	color: #fff;
}
.footer-social ul,
.footer-copyright ul{
	list-style: none;
}
.footer-copyright a{
	color:#ffd180;
}
.footer-copyright a:hover{
	text-decoration: underline;
}

.footer-copyright a:focus{
	color: #ee3643;
	text-decoration: none;

}

.form-write-us label{
	font-size: 18px;
	line-height: 18px;
}
.form-write-us p>input,
.form-write-us textarea {
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 16px;
	line-height: 18px;
	color: #999999;
	border: 2px solid #d7dcde;
}
.form-write-us{
	box-shadow: inset 0 15px 0 0 #ee3643;
}
.form-write-us p>input:hover,
.form-write-us textarea:hover{
	border: 2px solid #b5b5b5;
}

.form-write-us p>input:focus,
.form-write-us textarea:focus{
	border: 2px solid #ee3643;
}
.form-write-us .send{
	background-color: #f1f1f1;
}
.visually-hidden {
	position: absolute;
	overflow: hidden;
	clip: rect(0 0 0 0);
	height: 1px;
	width: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
}
.btn{
	font-size: 14px;
    line-height: 18px;
    color: #fff;
    background-color: #ee3643;
    text-transform: uppercase;
}

.inner-page .corf{
	background-color: #ee3643;
}

.user a{
	font-size: 21px;
    line-height: 21px;
    color: #000;
}
.user {
	background-color: #fff;
}
.user a:focus{
	opacity: 0.3;
}

.check .user-nav{
	font-size: 16px;
    line-height: 18px;
	list-style: none;
	text-decoration: underline;
	color: #32425c;

}
.user-nav a:hover{
	color: #ee3643;

}

.catalog-nav a{
	font-size: 13px;
    line-height: 18px;
    color: #000;
}
.catalog .topic-catalog{
    background-color: #f2f6f8; 
}
.catalog h2{
	font-size: 30px;
    line-height: 30px;
    color: #32425c;
    text-transform: uppercase;
}
.main-filter p,
.sorting p{
	font-size: 13px;
    line-height: 18px;
    font-family: "PT Sans", Arial, sans-serif; 
    text-transform: uppercase;
   
}
.sorting{
	background-color: #f7f3ec;
}
.main-filter p{
	background-color: #f7f3ec;
}
.filter fieldset {
  border: none;
}
.filter ul {
  list-style: none;
}

.filter legend{
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 17px;
    line-height: 30px;
    text-transform: uppercase;
    font-weight: bold;
}
.price-option input{
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 17px;
    line-height: 18px;
    background-color: #f7f3ec;

}
.filter-brands label,
.work-option label {
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 15px;
    line-height: 20px;
    text-transform: uppercase;
}
.filter .filter-button{
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 13px;
    line-height: 18px;
}
 .sorting a{
 	font-family: "PT Sans", Arial, sans-serif;
	font-size: 13px;
    text-transform: uppercase;
    color: #000;
    background-color: #fff;
    border-bottom: 2px dotted #ee3643;
    opacity: 0.3;
}

.sorting a:hover{
	opacity: 1;
	border-bottom: 2px solid #ee3643;
}

.sorting a:focus{
	opacity: 1;
	border-bottom: none;
	color: #ee3643;
}
